{% extends 'bootstrap/base.html' %}

{% block head%}
  {% block styles %}
  {{super()}}
  <link rel="stylesheet"
        href="{{url_for('.static', filename='styles.css')}}">
  {% endblock %}
  {% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">

      <h1>Add a new cafe into the database</h1>

      <div class = "container">
        <h1>Add a Cafe</h1>
        <form action="/add" method="POST">
          {{ form.csrf_token }}
          {% for field in form%}
              <p>
                {{field.label}} <br> {{field}}
              </p>
          {% endfor %}
        </form>
      </div>
      {{form.submit}}
	  <p class="space-above"><a href="#">See all cafes</a></p>

    </div>
  </div>
</div>

{% endblock %}
